body{
    font-family: arial, sans-serif;
    margin: 20px;
}
.container{
    max-width: 1200px;
    margin: atuo;
    padding: 20px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 20px;
}
.card{
    border: 2px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #fff;
}
.card img{
    width: 100%;
    height: auto;
    border-radius: 5px;
}
  .card p {
      margin: 5px 0;
      color: #555;
    } 
     .card button {
      margin-top: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 15px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
    } 
     .card button:hover {
      background-color: #0056b3;
    }
    .form-container {
      margin-top: 20px;
      border: 1px solid #ccc;
      padding: 20px;
      border-radius: 8px;
      display: none;
    }
    input {
      margin-bottom: 10px;
      padding: 10px;
      width: 100%;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
    } */ */